<!-- HTML layout for the Project Cards -->

{% assign projects = site.data.projects %}

{% if include.limit %}
  {% assign projects = projects | slice: 0, include.limit %}
{% endif %}

<div id="project_cards_div">
    {% for project in projects %}
      <a href="{{ project.link }}" target="_blank" rel="noopener noreferrer">
        <div class="project_card">
          <img src="{{ project.image }}" alt="{{ project.alt_text }}">
          <h3>{{ project.name }}</h3>
          <p> {{ project.description }} </p>
        </div>
      </a>
    {% endfor %}
</div>
