#main_contact_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
