#main_contact_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Email Form */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin: 20px 0;
}

.container form {
  width: 450px;
}

.container p {
  font-size: 1rem;
}

.container button {
  display: block;
  margin: 20px auto;
}

.form-group {
  width: 100%;
}

.form-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  width: 100%;
  margin: 20px 0;
}

.form-row input {
  width: 100%;
  font-size: 1rem;
  height: 2rem;
}

.form-group textarea {
  width: 100%;
  font-size: 1rem;
}

/* Social Media Links */
#other_links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#social_media_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px; 
  margin: 10px 0;
}

#social_media_icons a {
  width: fit-content;
}

.icon_link {
  width: 60px;
  height: auto;
  filter: brightness(0) saturate(100%) invert(33%) sepia(9%) saturate(1296%) hue-rotate(276deg) brightness(97%) contrast(89%);
}
