/* Hero Statement Section */
#hero_statement {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

#hero_buttons {
  display: flex;
  gap: 35px;
  margin: 20px 0;
}

#contact_button {
  color: var(--dark-button-text);
  background-color: var(--header-color);
}

#contact_button:hover {
  background-color: var(--dark-button-hover);
}

#contact_button:active {
  background-color: var(--dark-button-active);
}

#project_button {
  color: var(--header-color);
  background-color: var(--light-button-bg);
}

#project_button:hover {
  background-color: var(--light-button-hover);
}

#project_button:active {
  background-color: var(--light-button-active);
}

#hero_specialization {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* About Me Section */
#about_me {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: var(--secondary-bg-color);
}

#about_me h2 {
  color: var(--primary-bg-color);
}

#about_me p {
  color: var(--primary-bg-color);
  font-size: 1rem;
  margin: 1.5rem 5rem 0rem;
  line-height: 1.5;
}

/* Project Preview Section */
#project_preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 575px;
}

#project_cards_div {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

#project_cards_div a {
  text-decoration: none;
}

.project_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-bg-color);
  width: 275px;
  height: 350px;
  font-size: 1.25rem;
  background-color: var(--header-color);
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.project_card img {
  width: 50%;
}

.project_card p {
  text-align: center;
  color: var(--primary-bg-color);
  font-size: 0.875rem;
  margin: 0 2rem;
}

.project_card:hover {
  transform: scale(1.1);
}

#view_more_projs {
  color: var(--text-color);
  font-size: 1.25rem;
  text-decoration: none;
}

#view_more_projs:hover {
  color: var(--highlight-color);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
}
