/* Hero Statement Section */
#hero_statement {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

#hero_buttons {
  display: flex;
  gap: 35px;
  margin: 20px 0;
}

#contact_button {
  color: white;
  background-color: #51344d;
}

#contact_button:hover {
  background-color: #734b6c;
}

#contact_button:active {
  background-color: #362333;
}

#project_button {
  color: #51344d;
  background-color: white;
}

#project_button:hover {
  background-color: #eeeeee;
}

#project_button:active {
  background-color: #cccccc;
}

#hero_specialization {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* About Me Section */
#about_me {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: #989788;
}

#about_me h2 {
  color: #e7ebc5;
}

#about_me p {
  color: #e7ebc5;
  font-size: 1rem;
  margin: 1.5rem 5rem 0rem;
  line-height: 1.5;
}

/* Project Preview Section */
#project_preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

#project_cards_section {
  margin-top: 2rem;
}

.project_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e7ebc5;
  width: 275px;
  height: 350px;
  font-size: 1.25rem;
  background-color: #51344d;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.project_card img {
  width: 50%;
}

.project_card p {
  text-align: center;
  color: #e7ebc5;
  font-size: 0.875rem;
  margin: 0 2rem;
}

.project_card:hover {
  transform: scale(1.1);
}
