/* imports */
@import "navbar.css";

/* General Formatting */
body {
  background-color: #E7EBC5;
}

/* Fonts */
.oswald_regular {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.oswald_medium {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
