<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kendrick's Portfolio | {{ page.title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    {% include navbar.html %}
    {{ content }}
  </body>
</html>
